body {
  background: black url(../img/background-adare-restaurant.jpg) no-repeat center
    fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding-right: 1rem;
  padding-left: 1rem;
}

header {
  text-align: center;
  margin-bottom: 20px;
}
nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}
nav a:hover {
  color: #ffc107;
}
main {
  text-align: center;
  margin-bottom: 40px;
}
main h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
main p {
  font-size: 20px;
  margin-bottom: 20px;
}
.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ffc107;
  color: black;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.cta-button:hover {
  background-color: #ffca28;
}
.maps,
.video {
  margin-bottom: 40px;
  margin-top: 40px;
}
.maps iframe,
.video iframe {
  width: 100%;
  height: 400px;
  border: 0;
}
footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.8);
}
