html {
    height: 100%;
}

body {
    background: black url(/img/background-adare-restaurant.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    margin: auto;
    width: 1024px;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.315);
    height: 60px;
    text-align: center;
    padding-top: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 0 10px;
}

main {
    height: 400px;
    text-align: center;
    padding: 80px 240px 0;
}

main h1 {
    font-size: 84px;
}

main p,
main a {
    font-size: 18px;
}

main a {
    color: white;
}

.maps {
    padding-bottom: 60px;
}

footer {
    background-color: rgba(0, 0, 0, 0.315);
    height: 180px;
    text-align: center;
    padding-top: 80px;
}
